 
move_down           j
move_up             k
move_left           h
move_right          l

screen_down         <C-d>
screen_up           <C-u>

goto_beginning      gg
goto_end            G

zoom_in             +
zoom_in             =
zoom_out            -
fit_to_page_width   s
fit_to_page_height  a

toggle_dark_mode    i
toggle_custom_color c
toggle_statusbar    <C-b>
toggle_titlebar     <C-w>
toggle_visual_scroll r

add_bookmark        m
goto_bookmark       '

open_link           f
prev_state          <C-o>
next_state          <C-i>

goto_toc            t

# Tìm kiếm text
search              /

close_window        q
