
ui_font ComicShannsMono Nerd Font
font_size 16

should_launch_new_window 1
collapsed_toc 1
smooth_scroll_speed 3

background_color            0.15 0.18 0.20
dark_mode_background_color   0.15 0.18 0.20

custom_background_color     0.15 0.18 0.20
custom_text_color           0.82 0.77 0.66

search_url_s                https://scholar.google.com/scholar?q=
highlight_color_a           0.65 0.75 0.50
highlight_color_b           0.85 0.60 0.55
